@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Another Auto-Complete??</h1>
    <p class="lead">A poor man's auto-complete, a partially reinvented wheel with KnockoutJS and jQuery.. I guess sometimes you just need a new wheel!</p>
    <p><a href="http://knockoutjs.com" class="btn btn-primary btn-lg">Learn more about KnockoutJS &raquo;</a>
    <p>
        <a href="http://jquery.com" class="btn btn-primary btn-lg">Learn more about jQuery &raquo;</a>
    </p>
</div>
<!-- sections: demo, files, code, tests-->

<div class="container">
    <h2>Demo</h2>
    <div class="auto-complete row" data-bind="'auto-complete': settings"></div>
    <br/>
    <i></i>
</div>


@section scripts
{
    <script type="text/javascript">
        ko.applyBindings({
            settings: {
                throttle: 500,
                url: 'search',
                placeHolder: 'start typing something',
                css: { input: 'col-md-push-2 input-lg col-md-8', list: 'col-md-push-2 col-md-8' },
                selectedCallback: function(item) {
                    $('i').text('last selection was: ' + item.name);
                }
            }
        });
    </script>
}
